/* 
1. Posicionamiento:
2. Box model
3. Tipografía
4. Visuales - 
5. Otros - Miscelanuos
*/

:root{
    /* Colores */
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --black: #282623;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --just-white: #FFF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
     font-size: 62.5%;
     font-family: 'DM Sans', sans-serif;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

header img {
    width: 150px;
    height: 50px;
    margin-top: 25px;
    align-self: center;
}

.header-title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 280px;
    margin-top: 25px;
    text-align: center;
    align-self: center;
}

.header-title-container h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.header-title-container p {
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.8rem;
    color: var(--soft-orange);
}

.header-title-container .header-button {
    position: absolute;
    left: calc(50% - 120px);
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    /* Sombras */
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 8px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}

.header-title-container span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url('./assets/icons/down-arrow.svg');
}

main {
    width: 100%;
    height: auto;
    min-width: 320px;
    background-color: var(--off-white);
}

.main-exchange-container {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}

.main-exchange-container-title {
    width: 100%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}

.main-exchange-container .background-img {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url('./assets/img/bitcoin.svg');
    background-size: cover;
    background-position: center;
}

.main-exchange-container h2 {
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}

.main-exchange-container p {
    width: 90%;
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: lighter;
    line-height: 1.6rem;
    color: var(--warm-black);
    margin-left: 5%;
    /* text-align: center;
    align-self: center; */
    /* padding-left: 10%; */
}

.main-currency-table {
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: auto;
    margin: auto;
    font-family: "Inter";
    margin-bottom: 20px;
}

.main-currency-table .main-currency-table-title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.0rem;
    color: var(--bitcoin-orange);
    text-align: center;
}

.main-currency-table-container {
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    margin: 0 auto;
}

.main-currency-table-container .main-currency-table-container-table {
    width: 100%;
    height: 100%;
}

.main-currency-table-container td {
    width: 50%;
    font-size: 1.4rem;
    line-height: 2.9rem;
    font-weight: 500;
    color: var(--grey);
    background-color: var(--just-white);
}

.main-product-container {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background-color: var(--black);
}

.main-product-container .product-detail-patata-logo {
    position: absolute;
    width: 40px;
    height: 25px;
    background-image: url('./assets/icons/batata.svg');
    top: -10px;
    left: calc(50% - 20px);
}

.product-detail-title {
    margin-top: 25px;
}

.product-detail-title h2 {
    color: var(--just-white);
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 18px;
}

.product-detail-title p {
    color: var(--grey);
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
}

.main-product-cards-container {
    width: 100%;
}

.main-product-card-container-detail {
    width: 90%;
    min-width: 288px;
    max-width: 350px;
    height: 150px;
    margin: 15px auto;
    padding: 15px;
    background-color: var(--warm-black);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}

.main-product-card-container-detail .product-clock-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url("./assets/icons/clock.svg");
    background-size: cover;
    background-position: center;
}

.main-product-card-container-detail .product-eye-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url("./assets/icons/eye.svg");
    background-size: cover;
    background-position: center;
}

.main-product-card-container-detail .product-dollar-sign-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url("./assets/icons/dollar-sign.svg");
    background-size: cover;
    background-position: center;
}

.main-product-card-container-detail .product-check-circle-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url("./assets/icons/check-circle.svg");
    background-size: cover;
    background-position: center;
}

.main-product-card-container-detail .product-card-title {
    color: var(--just-white);
    font-size: 1.8rem;
    line-height: 1.8rem;
    font-weight: bold;
    text-align: left;
    margin-bottom: 15px;
}

.main-product-card-container-detail .product-card-body {
    color: #808080;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
    /* text-align: left; */
    margin-bottom: 15px;
}

.main-plans-container {
    width: 100%;
    min-width: 320px;
    padding-bottom: 70px;
    text-align: center;
    /* background-color: var(--just-white); */
}

.plans-detail-title {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.plans-detail-title h2 {
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}

.plans-detail-title p {
    /* margin-bottom: 30px; */
    font-size: 1.4rem;
    font-weight: lighter;
    line-height: 1.6rem;
    color: var(--warm-black);
    margin-left: 5%;
}

.plans-cards-container {
    display: flex;
    height: 320px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    gap: 50px;
}

.plans-cards-container-detail {
    position: relative;
    scroll-snap-align: center;
    width: 70%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 50px auto 0;
    padding: 0 15px;
    background-color: var(--just-white);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}

.plans-cards-container-detail .recomendado {
    position: absolute;
    width: 120px;
    height: 30px;
    top: -15px;
    background-color: var(--bitcoin-orange);
    color: var(--just-white);
    border-radius: 8px;
    left: calc(50% - 60px);
    padding: 6px;
    font-size: 1.3rem;
    font-weight: bold;
}

.plan-info-container .plan-card-title {
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: black;
}

.plan-info-container .plan-card-price {
    padding: 5px 0;
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 6.3rem;
    color: black;
}

.plan-info-container .plan-card-price sup {
    padding: 5px 0;
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
}

.plan-info-container .plan-card-savings {
    font-size: 1.2rem;
    color: #757575;
}

.plan-info-container .plan-card-cta {
    /* position: absolute; */
    margin-top: 20px;
    width: 150px;
    height: 48px;
    background-color: #FAF8F7;
    border: 2px solid var(--bitcoin-orange);
    border-radius: 8px;
    left: calc(50% - 60px);
    padding: 6px;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
}